# maven target folders

acota-core/target
acota-feedback/target
acota-examples/target
acota-utils/target

# java specific
*.class

# maven

*.versionsBackup

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

